.options-container {
  border: 1px solid red;
  display: flex;
}
.genres-container {
  border: 1px solid red;
  flex: 1;
}
.artists-container {
  border: 1px solid red;
  flex: 1;
}
.artists-details-container {
  border: 1px solid red;
  flex: 1;
}
